@use '../../../shared/page';

.status-open {
  --mdc-chip-elevated-container-color: #e8f5e9;
  --mdc-chip-label-text-color: #1b5e20;
}

.status-closed {
  --mdc-chip-elevated-container-color: #eceff1;
  --mdc-chip-label-text-color: #37474f;
}
