DB_PASSWORD=
DB_USER=postgres
DB_HOST=localhost
DB_NAME=inventory
DB_PORT=5432
DB_SSLMODE=disable
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=30m
DB_CONN_MAX_IDLE_TIME=5m
CORS_ORIGIN=http://localhost:4200
